body {
    background-color: #ffdbdd;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input.placeholderred::-webkit-input-placeholder {
    color: red;
 }
 
 input.placeholderred:-moz-placeholder { /* Firefox 18- */
    color: red;  
 }
 
 input.placeholderred::-moz-placeholder {  /* Firefox 19+ */
    color: red;  
 }
 
 input.placeholderred:-ms-input-placeholder {  
    color: red;  
 }



/* NEED TO FIX HEADER ASK VANNESSA: TEXT MOVES SLIGHTLY DOWN AS YOU
EXPAND THE SCREEN*/
.navbar {
    height: 120px;
    width: 100%;
    position: fixed;
    display: inline-block;
    z-index: 3;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 250px; /*Logo + Title size */
}

nav .navbar2 {
    flex: 1;
    text-align: right;
    font-family: "IBM Plex Sans";
    font-weight: 550;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #e65c7d;
}

footer {
    font-family: "IBM Plex Sans";
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#3A3332;
    color:#EDEDED;
    padding: 7px 20px;
    letter-spacing: 3px;
    font-size: 11.5px;
}

.imgContainer {
    background-image: url("orderFormImg.jpg") no-repeat scroll center top transparent;
    height: 400px;
    width: 100%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.header {
    text-align:center;
    width: 100%;
    font-size: 50px;
    color: #E55F7f;
    font-family: Giulia-Regular;
    font-weight: 50px;
    margin-top: 30px;
}

#p1 {
    text-align:center;
    width: 100%;
    color: #3A3332;
    font-family: Actor;
    margin-top: 50px;
    font-size: 20px;
}

#p2 {
    text-align:center;
    width: 100%;
    color: #3A3332;
    font-family: Actor;
    margin-top: 30px;
    font-size: 20px;
}

.cakeOrderForm {
    margin: 50px 50px;
    padding: 30px;
    background-color: #e65c7d ;
    border-radius: 10px;
}

.pInfo {
    float: left;
    width: 50%;
    padding: 10px;
    height: 580px;
}              

.buildCake {
    float: left;
    width: 50%;
    padding: 10px;
    height: 580px;
}

#formHeader {
    color: white;
    text-align: center;
    font-size: 30px;

}

.formElements {
    text-align: center;
}

input[type=text], select, textarea {
    font-family: "Actor";
    width: 75%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 15px;
} 

#radio {
    margin-top: 15px;
    font-family: "Actor";
    color: white;
}

input[type=button] {
    margin-top: 30px;
    background-color: #3A3332;
    color: white;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: white;
    color: #3A3332;
}

.totalBox {
    margin: auto;
    margin-top: 15px;
    background-color: #3A3332; 
    padding: 20px 1px;
    color: white; 
    width: 75%;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Actor"
}


.cakeOrderForm:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .formContainer {
        width: 100%;
    }

    .pInfo {
        width: 100%;
    } 

    .buildCake {
        width: 100%;
    }
}
