* {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
  
  .navbar {
      
      min-height: 100vh;
      width: 100%;
      background-image: url(https://lh3.googleusercontent.com/cLTOD_fIwXrRDFdfq0Ka2rbIOT5nT-egvXQE9DFzpvI0ZVaa4pPYtjJyjm-M3qwrJ7VMwuYizHoj8sRaxM16yq-k-OR5BDuRKBCXuw_vknY6iARXVYqIoGMnEnCwS_hxI7L0QfttXw=w2400); 
      background-size: cover; 
  
      
  }
  
  nav {
      width: 88%;
      display: flex;
      padding: 2% 6%;
      justify-content: space-between;
      align-items: center;
      background: rgba(255,214,220,0.80);
      position: fixed;
  
      
  }
  
  
  nav img {
      width: 250px; /*Logo + Title size */
  }
  
  nav .navbar2 {
      
      flex: 1;
      text-align: right;
      font-family: "IBM Plex Sans";
      font-weight: 550;
      position: relative;
        display: inline-block;
      
  }
  
  nav ul li {
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
      
  }
  
  nav ul li a{
      
      text-decoration: none;
      color: #E55F7f;
  
  }
  
  nav .fa {
      display: none;
  }
  
  nav .fas {
      display: none;
  }
  
  .navbar2 .contactus {
      
          border:solid #333333; 
          border-radius: 20px; 
          padding-right: 18px; 
          padding-left: 18px; 
          background: #333; 
          color: #fff !important; 
  }
  
  
  
  /* Dropdown menu on Navbar */
  
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF0F1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .order {
      min-width: 105px;
  }
  
  .dropdown-content a {
    color: #E55F7F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #FFDADE;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  .dropdown:hover .about {
      background-color: #FFFFFF;
  
  }
  
  .dropdown:hover .shop {
      background-color: #FFFFFF;
  }

body {
    background-color: #FFDBDD;
}

.sign-up-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up-header .logo-pic {
    height: 5em;
}

.sign-up-header h1 {
    font-size: 1.5em;
}

/* STYLES THE FORMS */

.forms {
    margin-top: 20px;
    
}

.forms form {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms .text-input,
.forms .btn,
.forms .checkbox{
    display: block;
}

.forms .text-input {
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 15px;
    padding-right: 17%;
    background-color: white;
}

.forms .checkbox2,
.forms .checkbox1 {
    display: flex;
    margin-bottom: 20px;
}

.forms .checkbox2 label,
.forms .checkbox1 label {
    margin-left: 10px;
}
input.checkbox{
    width: 20px;
    height: 20px;
}


.forms .checkbox1 label {
    font-weight: 600;
    font-size: .9em;
    color:#3a3332;
}

.forms .checkbox2 label {
    font-size: .89em;
    color: rgb(93, 93, 93);
}

.forms .terms1,
.forms .terms2 {
    font-size: .85em;
    color: rgb(93, 93, 93);
}

.forms .terms2 {
    margin-bottom: 20px;
}

.forms .btn {
    margin-bottom: 20px;
    padding: 15px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #3A3332;
    border-radius: 20px;
    color: white;
}

.forms #sign-in {
    background-color: white;
    border: #3A3332 solid 1px;
    padding-right: 12%;
    padding-left: 12%;
    color: #3A3332;
}


.forms h2 {
    margin-top: 5px;
    margin-bottom: 15px;
    color:#3a3332;
    font-weight: normal;
    font-size: 1.1em;
}


.terms2 a {
    color: rgb(240, 151, 196);
}