@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	
}



.navbar {
	
	min-height: 100vh;
	width: 100%;
	background-image: url(https://lh3.googleusercontent.com/cLTOD_fIwXrRDFdfq0Ka2rbIOT5nT-egvXQE9DFzpvI0ZVaa4pPYtjJyjm-M3qwrJ7VMwuYizHoj8sRaxM16yq-k-OR5BDuRKBCXuw_vknY6iARXVYqIoGMnEnCwS_hxI7L0QfttXw=w2400);
	background-size: cover; 
	
	

	position: fixed;
	box-shadow: 0 7px 20px -9px #000000;
	background-color: #F4F4F4;
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 250px; /*Logo + Title size */
}

nav .navbar2 {
	flex: 1;
	text-align: right;
	font-family: "IBM Plex Sans";
	font-weight: 550;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
	
}

nav ul li a{
	
	text-decoration: none;
	color: #E55F7f;

}

body {
	
}


footer {
	
	font-family: "IBM Plex Sans";
	position:fixed;
	left:0px;
	bottom:0px;
	height:20px;
	width:100%;
	background:#242424;
	color:#EDEDED;
	padding: 7px 20px;
	letter-spacing: 3px;
	font-size: 11.5px;
}